<div class="card mt-4">
<form #form="ngForm">
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex>
            <mat-form-field appearance="fill">
                <mat-label>Manager</mat-label>
                <mat-select [(ngModel)]="employee.managerId"  #managerId="ngModel" name="managerId">
                  <mat-option *ngFor="let manager of managers" [value]="manager.id">
                    {{manager.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field appearance="fill">
                <mat-label>Department</mat-label>
                <mat-select [(ngModel)]="employee.departmentId" name="department" required>
                  <mat-option *ngFor="let department of departments"  [value]="department.id">
                    {{department.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field class="form-field-full-width">
                <input matInput #name="ngModel" id="name" name="name" placeholder="name" [(ngModel)]="employee.name"
                    required>
                <mat-error *ngIf="name?.errors?.required">name is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex>
            <mat-form-field class="form-field-full-width">
                <input matInput #address="ngModel" id="address" name="address" placeholder="address" [(ngModel)]="employee.address"
                    required>
                <mat-error *ngIf="address?.errors?.required">address is required</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column">
        <div fxFlex>
            <mat-form-field class="form-field-full-width">
                <input matInput #mobile="ngModel" id="mobile" name="mobile" placeholder="mobile" [(ngModel)]="employee.mobile"
                    required>
                <mat-error *ngIf="mobile?.errors?.required">mobile is required</mat-error>
            </mat-form-field>
        </div>
        <div fxFlex>
            <mat-form-field  appearance="fill">
                <mat-label>BirthDate</mat-label>
                <input #birthDate="ngModel" required [(ngModel)]="employee.birthDate" name="birthDate"   matInput [matDatepicker]="birthDate">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="birthDate"></mat-datepicker-toggle>
                <mat-datepicker #birthDate></mat-datepicker>
                <mat-error *ngIf="birthDate?.errors?.required">birthDate is required</mat-error>
              </mat-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
        <button  [disabled]="!(form.valid)" (click)="updateEmployee()" class="send" mat-raised-button color="primary">
            Submit
        </button>
    </div>
</form>
</div>